<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="jp.co.internous.team2411.model.mapper.TblCartMapper">

	<select id="findByUserId"
		resultType="jp.co.internous.team2411.model.domain.dto.CartDto">
		SELECT
			tc.id,
			mp.image_full_path,
			mp.product_name,
			mp.price,
			tc.product_id,
			tc.product_count,
			tc.product_count * mp.price AS subtotal
		FROM
			tbl_cart AS tc
			INNER JOIN
			mst_product AS mp
		ON
		  tc.product_id = mp.id
		WHERE
		  tc.user_id =#{userId}
		ORDER BY
			tc.updated_at DESC,
			tc.created_at DESC
	</select>

	<delete id="deleteById">
		DELETE FROM
		  tbl_cart
		WHERE
		  id
		IN
		<foreach collection="checkedIds"  item="id"  open="(" separator=","  close=")">
			#{id}
		</foreach>

	</delete>

</mapper>